<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center mt-5 ">
            <div class="col-md-8">
                <div class="card">
                    <div class="d-flex justify-content-between align-items-center"> <span class="font-weight-bold">{{ user.username}}</span>
                        <div class="d-flex flex-row"><a href="{% url 'add'%}" class="btn btn-primary mr-2 active"><i class="fa fa-plus"></i> Add</a><a href="{% url 'index'%}" class="btn btn-primary new">Logout</a> </div>
                    </div>
                    <form action="" method="get">
                        <div class="mt-3 inputs"> <i class="fa fa-search"></i> <input type="text" class="form-control " name="search_name" placeholder="Search Tasks..."> </div>
                        
                    </form> 
                    {% for contact in contacts %}
                    <div class="mt-3">
                                <a href="{% url 'detail' contact.id %}" style="text-decoration: none; color:rgb(8, 8, 8); font-weight:bold">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"><span class="star"><span class="content-text-2">{{ contact.nom |first }}{{ contact.prenom |first}}</span></span>
                                        <div class="d-flex flex-column"> <span>{{ contact.nom }}</span>
                                            <div class="d-flex flex-row align-items-center time-text"> <small>{{ contact.phone }}</small> </div>
                                        </div>
                                    
                                </div> <span class="content-text-1"><i class="fas fa-info-circle"></i></i></span>
                            </div> 
                            </a>
                        </div>
                    {% endfor %}
                
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>