{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <title>Document</title>
</head>
<body>
    <div class="container height-100 d-flex justify-content-center align-items-center">
        
        
        <div class="card text-center">
            <a href="{% url 'contact' %}" class="btn btn-outline-secondary">back</a>
            
            <div style="display: flex;">
                <select id="select" multiple style="width:200px;">
                    {% for cont in contacts %}
                        <option> {{cont.nom}} </option>
                    {% endfor %}
                    </select>
                    <input type="text" id="saisir"/>
                    <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-share-alt"></i></button>
                </select>
            </div>
        
            <div class="py-4 p-1 photo">
                {% if contact.photo %}
                <div> <img src="{{contact.photo.url}}" class="rounded" width="200"> </div>

                {% else %}
                <div> <img src="{% static 'assets/img/add-photo.png'%}" class="rounded" width="200"> </div>

                {% endif %}

                <div class="mt-3 d-flex flex-row justify-content-center">
                    <h5 style="font-size:30px;">{{contact.nom}}<br> {{contact.prenom}}</h5> <span class="dots"><i class="fa fa-check"></i></span>
                </div>
                <div class="mt-3"> <a class="btn btn-danger" href="{% url 'delete_contact' contact.id %}"><i class="far fa-trash-alt"></i> Del</a> <a class="btn btn-outline-secondary"  href="{% url 'edit' contact.id %}"><i class="fas fa-edit"></i> Edit</a> </div>
                
            </div>
            <div>
                <ul class="list-unstyled list">
                    <li> <span class="font-weight-bold">Email</span>
                        <div> <span class="mr-1">{{contact.email}}</span> </div>
                    </li>
                    <li> <span class="font-weight-bold">Numero</span>
                        <div> <span class="mr-1">{{contact.phone}}</span></div>
                    </li>
                    <li> <span class="font-weight-bold">Autre</span>
                        <div> <span class="mr-1">AUTRE</span> </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <script>
        $(document).ready(function()
        {
            $("#select").select2({ 
                placeholder : 'partarger',
                closeOnselect : false
            });
            $("#select").on('change', function()
            {
                var namedisplay = $("#select option:selected").text();
                $("#saisir").val(namedisplay);
            });
        });
    </script>
</body>
</html>