{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Easiest Way to Add Input Masks to Your Forms</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="registration-form" id="apps">
        <form method="POST" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <div  class="image-upload form-icon">
                <label for="photo">
                    <img src="{% static 'assets/img/img-02.jpg'%}" id="blah">
                </label>
                <input type="file" name="photo" id="photo" onchange="readURL(this);">
            </div>
            <div class="form-group">
                <input type="text" v-model="nom"  name="nom" class="form-control item" id="username" placeholder="Nom">
            </div>
            <div class="form-group">
                <input type="text" v-model="prenom"  name="prenom" class="form-control item" placeholder="Prenom">
            </div>
            <div class="form-group">
                <input type="text" v-model="email"  name="email" class="form-control item" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" v-model="phone"  name="phone" class="form-control item" id="phone-number" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <input type="password" v-model="password1"  name="password1" class="form-control item" placeholder="password">
            </div>
            <div class="form-group">
                <input type="password" v-model="password2"  name="password2" class="form-control item" placeholder="Confirm password">
            </div>
            <div class="form-group">
                <button type="submit" @click.prevent="postData" class="btn btn-block create-account">Create Account</button>
            </div>
        </form>

        <div class="social-media">
            <h5>Sign up with social media</h5>
            <div class="social-icons">
                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Google"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/script.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
<script>

    const app = new Vue({

            el : '#apps',
            data : { 
                nom:'',
                prenom:'',
                email:'',
                phone:'',
                password1:'',
                password2:'',
                url:" {% url 'checkup'%}"
             },
            delimiters : ['%{','}'],
            methods : {
                postData(){
                    if(!this.nom || !this.prenom || !this.email || !this.phone || !this.password1 || !this.password2){
                        swal.fire({
                            icon:'error',
                            text:'Veuillez remplir les champs vides',
                            showConfirmButton:false,
                            timer:2000
                        })
                    }
                    else if (!/[A-Za-z'éèöïäëû ]+/.test(this.name)){
                        swal.fire({
                          icon:'error',
                          text:'Veuillez saisir un nom valide',
                          showConfirmButton:false,
                          timer:2000
                        })
                    }
                    else if (!/(\w\.?)+@(\w\.?)+\.[A-Za-z]{2,3}/.test(this.email)){
                        swal.fire({
                          icon:'error',
                          text:'Veuillez saisir un email valide',
                          showConfirmButton:false,
                          timer:2000
                        })
                    }
                    else{
                        if(this.password1 == this.password2){
                            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                            axios.defaults.xsrfCookieName = 'csrftoken'

                            let form = new FormData()

                            form.append('nom', this.nom)
                            form.append('prenom', this.prenom)
                            form.append('email', this.email)
                            form.append('phone', this.phone)
                            form.append('password', this.password)

                            axios.post(this.url, form).then((response) => {
                                if(reponse.data.success){
                                    swal.fire({
                                        icon:'success',
                                        text:response.data.msg,
                                        showConfirmButton:false,
                                        timer:2000,
                                    })
                                }
                                else {
                                    swal.fire({
                                      icon:'error',
                                      text:response.data.msg,
                                      showConfirmButton:false,
                                      timer:2000,
                                    })
                                }
                            })                   
                        }
                        else{
                            swal.fire({
                                icon:'error',
                                text:"les mots de passe doivent etre identique",
                                showConfirmButton:false,
                                timer:2000,
                            })
                        }
                    }
                }
                    
            }

    })
</script>
